.movie-card {
  width: 100%;
  height: 250px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.15s;
}

.movie-card:hover {
  transform: scale(1.06);
}

.movie-card-container {
  flex: 1;
  display: flex;
  margin: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.movie-card-container:hover {
  opacity: 1;
}

.movie-card-text {
  font-weight: bold;
  text-shadow: 2px 2px #000;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
}

.movie-card-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie-card-info div {
  margin-right: 10px;
}

.movie-card-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
}

.movie-card-title {
  font-size: 150%;
}

.movie-card-year {
  font-size: 90%;
}

.movie-card-rating {
  font-size: 90%;
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;
  padding: 0 5px 0 5px;
}

.movie-card-description {
  font-size: 80%;
}

.movie-list-container {
  margin: 0px 20px 20px 20px;
}

.movie-list-container h1{
  margin: 0;
}

.movie-list-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-list-grid li {
  padding: 10px 15px;
  text-align: left;
  width: 30%;
}

.movie-card-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
}

.default-button.round-button {
  border-radius: 50%;
  padding: 5px 3px 5px 3px;
}

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  background-color: #222;
  border: 1px solid #aaa;
  color: #fff;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.default-button:hover {
  background-color: #333;
}

.default-button:focus {
  outline: 0;
}